name: Build

on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set environment
        run: |
          {
            echo "repo=$(echo ${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/})"
            echo "version=v$(grep apiArtifactVersion build.gradle| awk -F\" '{print $2}')"
            echo "commit=$(echo ${{ github.sha }} | cut -c-7)"
          } >> $GITHUB_ENV

      - name: Build
        run: ./gradlew --no-daemon --warning-mode=all assembleDebug

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.repo }}-${{ env.version }}@${{ env.commit }}"
          path: "*/build/outputs/aar/*.aar"
